@font-face {
	font-family: DIN-Regular;
	src: url(../other/DIN-Regular.eot);
	src: url(../other/DIN-Regular.woff) format('woff'), url(../other/DIN-Regular.woff2) format('woff2'), url(../other/DIN-Regular.ttf) format('truetype'), url(../other/DIN-Regular.svg) format('svg')
}

@font-face {
	font-family: DIN-Bold;
	src: url(../other/DIN-Bold.eot);
	src: url(../other/DIN-Bold.woff) format('woff'), url(../other/DIN-Bold.ttf) format('truetype'), url(../other/DIN-Bold.svg) format('svg')
}

.W_main {
	background: #ffecf5 url(../images/2018-920-index-bg.png) center 460px no-repeat;
	padding-bottom: 60px
}

.W_home_head {
	background: #ffecf5 url(../images/2018-920-header-bg.png) center bottom no-repeat
}

.W_pt_nav .pt_nav_left .nav_left_menu {
	display: block!important;
	background: rgba(255, 255, 255, .9)
}

.W_index_block {
	width: 1200px;
	margin: 0 auto;
	position: relative
}

.W_index_block .index_floor,
.W_index_block .tp_list {
	position: relative;
	margin-bottom: 32px
}

.W_index_block .index_floor:last-child {
	margin-bottom: 0
}

.swiper-button-next,
.swiper-button-prev {
	width: 30px;
	height: 60px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-indent: -999em;
	background: 0 0;
	margin-top: 0
}

.index_floor .swiper-button-prev {
	left: 0
}

.index_floor .swiper-button-next {
	right: 0
}

.index_floor .swiper-button-next i:last-child,
.index_floor .swiper-button-prev i:last-child {
	display: none;
	margin-top: -60px
}

.index_floor .swiper-button-next:hover i:last-child,
.index_floor .swiper-button-prev:hover i:last-child {
	display: block
}

.W_index_block .index_top_bread {
	height: 60px;
	line-height: 60px;
	overflow: hidden
}

.W_index_block .index_top_bread .top_bread_left {
	display: inline-block;
	margin-left: 8px
}

.index_top_bread .top_bread_left h3,
.index_top_bread .top_bread_left h3 a {
	font-size: 20px;
	color: #4a4a4a;
	line-height: 60px
}

.W_index_block .index_top_bread a.see_more {
	color: #666;
	line-height: 60px
}

.W_index_block .index_top_bread a.see_more:hover {
	color: #333;
	text-decoration: underline
}

.index_floor .tab_btn {
	position: absolute;
	top: 170px;
	width: 30px;
	height: 60px;
	cursor: pointer
}

.index_floor .right_btn {
	right: 0
}

.index_floor .left_btn .icon-d-h-ctrl03-11,
.index_floor .right_btn .icon-d-h-ctrl03-22 {
	display: none;
	margin-top: -60px
}

.index_floor .left_btn:hover .icon-d-h-ctrl03-11,
.index_floor .right_btn:hover .icon-d-h-ctrl03-22 {
	display: block
}

.index_floor .W_gnTab_nav {
	float: left;
	margin-left: 20px
}

.index_floor .W_gnTab_nav ul {
	border-bottom: 0;
	margin-top: 16px;
	overflow: visible;
	background: 0 0;
	width: 100%;
	display: flex
}

.index_floor .W_gnTab_nav ul li {
	display: block;
	float: left;
	cursor: pointer;
	width: 72px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #666;
	background-color: #e6e6e6;
	border-radius: 2px;
	margin-right: 8px
}

.index_floor .W_gnTab_nav ul li a {
	display: inline-block;
	line-height: 37px;
	color: #666;
	font-size: 16px
}

.index_floor .W_gnTab_nav ul li.on,
.index_floor .W_gnTab_nav ul li:hover {
	background-color: #ccaa7a;
	color: #fff
}

.index_floor .W_gnTab_nav ul li.on .icon-d-nav-jiao,
.index_floor .W_gnTab_nav ul li:hover .icon-d-nav-jiao {
	display: block
}

.index_floor .W_gnTab_nav ul li .icon-d-nav-jiao {
	display: none;
	margin: 0 auto
}

.W_gnTab_content .gnTabs_block {
	display: none
}

.W_gnTab_content .gnTabs_block:first-child {
	display: block
}

.index_block_02 .ph_middle,
.index_block_02 .ph_right,
.index_floor .left_ggt {
	position: relative;
	width: 392px;
	height: 280px;
	margin-right: 12px;
	overflow: hidden
}

.index_floor .left_ggt .p_img {
	width: 100%;
	height: 100%;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease
}

.index_floor .left_ggt .bg_img {
	width: 100%;
	height: 110px;
	position: absolute;
	bottom: 0;
	opacity: .6;
	background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0, #000 100%)
}

.index_floor .left_ggt:hover .p_img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}

.index_floor .left_ggt:hover .bg_img {
	opacity: 1
}

.index_floor .left_ggt .p_txt {
	width: 90%;
	position: absolute;
	left: 5%;
	bottom: 28px;
	text-align: center;
	color: #fff;
	z-index: 2
}

.index_floor .left_ggt .p_txt .p1 {
	font-size: 20px;
	margin-bottom: 2px;
	font-weight: 700
}

.index_floor .left_ggt .p_txt .p2 {
	letter-spacing: 1px
}

.W_home_banner {
	position: relative
}

.W_home_banner .top_shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, #000 100%);
	opacity: .08;
	z-index: 89
}

.W_home_banner .swiper-slide a {
	height: 460px;
	display: block;
	overflow: hidden;
	position: relative
}

.W_home_banner .swiper-slide a img {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%)
}

.W_home_banner .swiper-container .swiper-pagination {
	width: auto;
	position: absolute;
	height: 14px;
	bottom: 22px;
	z-index: 51;
	left: 50%;
	margin-left: -300px
}

.W_home_banner .swiper-pagination .swiper-pagination-bullet {
	display: inline-block;
	vertical-align: middle;
	height: 6px;
	width: 6px;
	margin: 0 5px;
	border-radius: 50%;
	border: 2px solid #fff;
	text-indent: -9999px;
	opacity: .5;
	background: 0 0
}

.W_home_banner .swiper-pagination .swiper-pagination-bullet-active {
	width: 8px;
	height: 8px;
	border: 3px solid #ccaa7a;
	opacity: 1;
	background-color: #fff
}

.W_home_banner .swiper-button-prev {
	width: 36px;
	left: 50%;
	margin-left: -398px
}

.W_home_banner .swiper-button-next {
	width: 36px;
	right: 50%;
	margin-right: -600px
}

.W_home_banner .swiper-button-next .icon-d-h-ctrl01-22,
.W_home_banner .swiper-button-prev .icon-d-h-ctrl01-11 {
	margin-top: -60px;
	display: none
}

.W_home_banner .swiper-button-next:hover .icon-d-h-ctrl01-22,
.W_home_banner .swiper-button-prev:hover .icon-d-h-ctrl01-11 {
	display: block
}

.W_index_block .tp_list .pp_a {
	position: relative;
	display: block;
	width: 291px;
	height: 280px;
	margin-right: 12px;
	text-align: center;
	color: #fff;
	overflow: hidden
}

.W_index_block .tp_list .pp_a .p_img {
	height: 280px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease
}

.W_index_block .tp_list .pp_a:hover .p_img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}

.W_index_block .tp_list .pp_a:last-child {
	margin-right: 0
}

.W_index_block .tp_list .pp_a .p_txt {
	width: 90%;
	position: absolute;
	top: 22px;
	left: 5%
}

.W_index_block .tp_list .pp_a .p1 {
	font-size: 16px;
	font-weight: 700
}

.W_index_block .index_block_01 {
	height: 280px;
	overflow: hidden;
	margin-top: 11px
}

.index_block_02 .W_gnTab_content,
.index_block_05 .wb_information {
	height: 280px
}

.index_block_05 .left_ggt {
	background-color: #fff
}

.index_block_02 .gnTabs_block .ph_middle {
	background-color: #fff
}

.index_block_02 .gnTabs_block .ph_middle:hover {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15)
}

.index_block_02 .gnTabs_block .ph_middle:hover .r_txt .sp3 {
	background-color: #cc9952;
	color: #fff
}

.index_block_02 .gnTabs_block .ph_middle .l_img {
	position: relative;
	width: 212px;
	height: 265px;
	margin: 8px 6px 0 10px;
	overflow: hidden
}

.index_block_02 .gnTabs_block .ph_middle .l_img img {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%)
}

.index_block_02 .gnTabs_block .ph_middle .r_txt {
	position: absolute;
	top: 50%;
	left: 228px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

.index_block_02 .gnTabs_block .ph_middle .r_txt .p_logo img {
	width: auto
}

.index_block_02 .gnTabs_block .ph_middle .r_txt .p1 {
	margin-top: 8px;
	margin-bottom: 5px;
	font-size: 16px;
	color: #333;
	font-weight: 700;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break: break-all;
	display: -webkit-box
}

.index_block_02 .gnTabs_block .ph_middle .r_txt .sp1,
.index_block_02 .gnTabs_block .ph_right ul li .b_txt .sp1 {
	color: #cc9952;
	line-height: 12px;
	font-family: DIN-Bold
}

.index_block_02 .gnTabs_block .ph_middle .r_txt .sp2,
.index_block_02 .gnTabs_block .ph_right ul li .b_txt .sp2 {
	color: #999;
	line-height: 12px;
	font-family: DIN-Bold
}

.index_block_02 .gnTabs_block .ph_middle .r_txt .sp3 {
	display: block;
	margin-top: 25px;
	width: 87px;
	height: 26px;
	line-height: 25px;
	color: #cc9952;
	text-align: center;
	letter-spacing: .86px;
	border-radius: 100px;
	border: 1px solid #cc9952
}

.index_block_02 .gnTabs_block .ph_middle .phb_01 {
	position: absolute;
	top: 10px;
	left: 0;
	width: 43px;
	height: 23px
}

.index_block_02 .gnTabs_block .ph_middle .phb_01 em {
	position: absolute;
	top: 0;
	left: 0;
	width: 43px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	color: #fff;
	font-weight: 700;
	font-family: DIN-Bold
}

.index_block_02 .gnTabs_block .ph_right {
	margin-right: 0
}

.index_block_02 .gnTabs_block .ph_right ul {
	margin-right: -12px;
	margin-bottom: -12px
}

.index_block_02 .gnTabs_block .ph_right ul li {
	position: relative;
	margin-bottom: 12px;
	margin-right: 12px;
	width: 190px;
	height: 134px;
	overflow: hidden;
	background-color: #fff
}

.index_block_02 .gnTabs_block .ph_right ul li a {
	display: block
}

.index_block_02 .gnTabs_block .ph_right ul li:hover {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15)
}

.index_block_02 .gnTabs_block .ph_right ul li:hover .b_txt {
	bottom: 0
}

.index_block_02 .gnTabs_block .ph_right ul li .p_img {
	width: 118px;
	height: 118px;
	margin: 8px auto;
	text-align: center
}

.index_block_02 .gnTabs_block .ph_right ul li .p_img img {
	display: inline-block
}

.index_block_02 .gnTabs_block .ph_right ul li .b_txt {
	position: absolute;
	bottom: -60px;
	width: 100%;
	padding: 15px 0;
	text-align: center;
	line-height: 12px;
	background: rgba(255, 255, 255, .8);
	-webkit-transition: bottom .3s ease;
	-moz-transition: bottom .3s ease;
	-ms-transition: bottom .3s ease;
	transition: bottom .3s ease
}

.index_block_02 .gnTabs_block .ph_right ul li .b_txt .p1 {
	color: #666;
	line-height: 12px;
	margin-bottom: 6px
}

.index_block_02 .gnTabs_block .ph_right ul li .phb_02 {
	position: absolute;
	top: 10px;
	left: 7px;
	color: #cc9952;
	font-weight: 700;
	line-height: 12px;
	font-family: DIN-Bold
}

.index_block_03 .top_bread_left .xsg_h3 {
	color: #cc5252
}

.index_block_03 .xsg_countdown {
	width: 291px;
	height: 28px;
	line-height: 28px;
	margin-top: 16px;
	margin-left: 20px;
	text-align: center
}

.index_block_03 .xsg_countdown .left_time {
	display: inline-block;
	text-align: center;
	color: #fff;
	vertical-align: top
}

.index_block_03 .xsg_countdown .left_time em {
	color: #e6b8b8;
	margin: 0 5px
}

.index_block_03 .xsg_countdown .left_time i {
	display: inline-block;
	font-family: DIN-Bold;
	font-size: 18px;
	vertical-align: top;
	line-height: 28px
}

.index_block_03 .time_to_buy .bx-wrapper {
	position: relative;
	width: 594px;
	height: 280px;
	float: left;
	margin-right: 12px;
	background-color: #fff;
	overflow: hidden
}

.time_to_buy .buy_list_slider {
	width: 594px;
	height: 280px;
	margin-right: 12px;
	background-color: #fff
}

.time_to_buy .buy_list_slider .swiper-container {
	padding: 0 12px
}

.time_to_buy .buy_list_slider .slider_a {
	display: inline-block;
	width: 166px;
	height: 280px;
	text-align: center;
	line-height: 12px
}

.time_to_buy .buy_list_slider .slider_a .s_img {
	width: 166px;
	height: 166px;
	padding-top: 24px;
	overflow: hidden;
	background-color: #fff
}

.time_to_buy .buy_list_slider .slider_a .s_txt .p1 {
	color: #666;
	font-weight: 700;
	margin-top: 12px;
	margin-bottom: 8px
}

.time_to_buy .buy_list_slider .slider_a .s_txt .p2 {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 4px
}

.time_to_buy .buy_list_slider .slider_a .s_txt .sp_01 {
	position: relative;
	display: inline-block;
	width: 43px;
	height: 20px
}

.time_to_buy .buy_list_slider .slider_a .s_txt .sp_01 em {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	font-family: DIN-Bold
}

.time_to_buy .buy_list_slider .slider_a .s_txt .sp_02 {
	min-width: 45px;
	background-color: #f2f2f2;
	color: #cc5252;
	border-radius: 0 10px 10px 0;
	padding: 0 5px;
	font-family: DIN-Bold
}

.time_to_buy .buy_list_slider .slider_a .s_txt del {
	display: block;
	color: #999;
	font-family: DIN-Bold
}

.index_block_03 .time_to_buy .bx-wrapper:last-child {
	width: 190px;
	margin-right: 0
}

.time_to_buy .buy_ggt_slider {
	width: 190px;
	height: 280px;
	background-color: #fff
}

.time_to_buy .buy_ggt_slider .swiper-container {
	height: 100%
}

.time_to_buy .buy_ggt_slider .slider_a {
	display: block;
	width: 142px;
	height: 205px;
	margin: 24px auto 0
}

.buy_ggt_slider .swiper-container .swiper-button-next,
.buy_ggt_slider .swiper-container .swiper-button-prev {
	width: 24px;
	height: 60px
}

.buy_ggt_slider .swiper-container .swiper-button-next i,
.buy_ggt_slider .swiper-container .swiper-button-prev i {
	margin-left: 6.5px;
	margin-top: 20.5px
}

.buy_ggt_slider .swiper-container .swiper-button-next i:last-child,
.buy_ggt_slider .swiper-container .swiper-button-prev i:last-child {
	margin-top: -19px
}

.buy_ggt_slider .swiper-container .swiper-pagination,
.index_block_09 .swiper-container .swiper-pagination {
	position: absolute;
	bottom: 21px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%)
}

.buy_ggt_slider .swiper-container .swiper-pagination-bullet,
.index_block_09 .swiper-container .swiper-pagination-bullet {
	border: 3px solid #fff;
	background-color: #ccc;
	opacity: .5;
	margin: 0 3px
}

.buy_ggt_slider .swiper-container span.swiper-pagination-bullet-active,
.index_block_09 .swiper-container span.swiper-pagination-bullet-active {
	background-color: #cc5252;
	border-color: #e6e6e6;
	opacity: 1
}

.index_block_04 .W_gnTab_content,
.index_block_04 .left_ggt {
	height: 360px
}

.index_block_04 .tab_btn {
	top: 210px
}

.index_block_04 .dren_list {
	width: 796px;
	height: 360px;
	margin-bottom: -12px
}

.index_block_04 .dren_list .dren_a {
	display: inline-block;
	width: 392px;
	height: 174px;
	margin-bottom: 12px;
	overflow: hidden
}

.index_block_04 .dren_list .dren_a:nth-child(odd) {
	margin-right: 12px
}

.index_block_04 .dren_list .dren_a:hover {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15)
}

.index_block_05 .wb_information .sp_bg_btn {
	width: 57px;
	height: 30px;
	margin: 0 auto 10px
}

.wb_information .sp_bg_btn .icon-d-sp-btn02 {
	display: none;
	margin-top: -30px
}

.wb_information .left_ggt:hover .icon-d-sp-btn02 {
	display: block
}

.wb_information .left_ggt .video_bf {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2
}

.wb_information .info_list {
	margin-right: -12px
}

.wb_information .info_list li {
	width: 190px;
	height: 280px;
	margin-right: 12px;
	background-color: #fff
}

.wb_information .info_list li .info_a {
	display: block;
	height: 100%
}

.wb_information .info_list li .info_a:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .15)
}

.wb_information .info_list li .info_a .i_img {
	width: 100%;
	height: 160px;
	overflow: hidden
}

.wb_information .info_list li .info_a .p1 {
	margin: 12px 20px 26px;
	color: #333;
	height: 36px;
	line-height: 18px
}

.wb_information .info_list li .info_a .i_author {
	margin: 0 20px;
	height: 40px;
	line-height: 40px;
	color: #999;
	border-top: 1px solid #eee
}

.wb_information .info_list li .info_a .i_author .avatar {
	position: relative;
	width: 24px;
	height: 24px;
	margin-top: 8px;
	border: 1px solid #eee;
	border-radius: 50%;
	box-sizing: border-box;
	background-size: 80%;
	overflow: hidden
}

.wb_information .info_list li .info_a .i_author .avatar img {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

.wb_information .info_list li .info_a .i_author .a_name {
	width: 85px;
	margin-left: 4px
}

.index_block_06 {
	-moz-user-select: none
}

.index_block_06 .W_gnTab_content {
	height: 634px
}

.index_block_06 .tab_btn {
	top: 296px
}

.index_block_06 .brand_list {
	height: 544px;
	margin-right: -12px;
	overflow: hidden
}

.index_block_06 .brand_list li {
	width: 594px;
	height: 260px;
	margin-bottom: 12px;
	margin-right: 12px
}

.index_block_06 .brand_list li .brand_a {
	position: relative;
	display: block;
	overflow: hidden
}

.index_block_06 .brand_list li .brand_a .b_img01.filter {
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px)
}

.index_block_06 .brand_list li .brand_list-img02 {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0
}

.index_block_06 .brand_list-img02 .b_img02 {
	width: 496px;
	height: 180px;
	margin: 40px 49px;
	border-radius: 4px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .5)
}

.index_block_06 .brand_logos {
	height: 95px;
	margin-right: -12px
}

.index_block_06 .brand_logos li {
	width: 190px;
	margin-right: 12px
}

.index_block_06 .brand_logos li .logo_a {
	position: relative;
	display: block;
	background-color: #fff
}

.index_block_06 .brand_logos li .logo_a:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .15)
}

.index_block_06 .brand_logos li .logo_a:hover .b_name {
	display: block
}

.index_block_06 .brand_logos li .logo_a .l_img {
	position: relative;
	height: 95px;
	background-color: #fff
}

.index_block_06 .brand_logos li .logo_a .l_img img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-o-filter: grayscale(1)
}

.index_block_06 .brand_logos li .logo_a .b_name {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 190px;
	height: 95px;
	line-height: 95px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
	background-color: #ccaa7a
}

.W_index_block .index_block_07 .pp_a,
.index_block_07 .server_list .pp_a .p_img {
	height: 240px
}

.W_index_block .index_block_07 .pp_a .p1 {
	color: #cc9952
}

.W_index_block .index_block_07 .pp_a .p2 {
	color: #666
}

.W_index_block .index_block_07 .pp_a:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .15)
}

.index_block_08 .share_work {
	margin-left: -12px
}

.index_block_08 .share_work a {
	width: 291px;
	display: block;
	float: left;
	background: #eee;
	margin-left: 12px
}

.index_block_08 .share_work a .share_txt {
	padding: 16px 20px 18px;
	background-color: #fff
}

.index_block_08 .share_work a .share_txt .p1 {
	font-size: 14px;
	color: #666;
	text-align: left;
	height: 40px;
	line-height: 20px
}

.index_block_08 .share_work a .p_img {
	width: 291px;
	height: 200px;
	overflow: hidden
}

.index_block_08 .share_work a .p_img img {
	width: auto;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s
}

.index_block_08 .share_work a .p_img:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}

.index_block_09 .swiper-container {
	padding-bottom: 35px
}

.index_block_09 .guess_like_slider .goods_a {
	display: inline-block;
	width: 291px;
	text-align: center;
	background-color: #fff;
	line-height: 12px;
	color: #999
}

.index_block_09 .guess_like_slider .goods_a:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .15)
}

.index_block_09 .guess_like_slider .goods_a .g_img {
	width: 223px;
	height: 223px;
	margin: 16px 34px 12px;
	overflow: hidden
}

.index_block_09 .guess_like_slider .goods_a .g_img img {
	background-color: #fff
}

.index_block_09 .guess_like_slider .goods_a .p1 {
	color: #666;
	font-weight: 700;
	margin-bottom: 8px
}

.index_block_09 .guess_like_slider .goods_a .p3 {
	color: #cc9952;
	margin-top: 8px;
	margin-bottom: 15px;
	font-family: DIN-Bold
}

.index_block_09 .swiper-container {
	position: relative
}

.index_block_09 .swiper-container .swiper-pagination {
	bottom: 0
}

.index_block_09 .swiper-container .swiper-pagination-bullet {
	border-color: #eee;
	background-color: #d8d8d8;
	opacity: 1
}

.index_block_09 .swiper-container span.swiper-pagination-bullet-active {
	background-color: #ccaa7a;
	border-color: #d8d8d8
}

.index_block_09 .swiper-button-next,
.index_block_09 .swiper-button-prev {
	margin-top: -10px
}

.drainagePopup>.bg_mask {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: url(../images/fix.png) repeat
}

.drainagePopup>.wb_code {
	width: 503px;
	height: 644px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	background: #fff;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
	border-radius: 8px
}

.drainagePopup>.wb_code .close {
	position: absolute;
	right: 17px;
	top: 16px;
	width: 46px;
	height: 46px;
	background-image: url(../images/popup_close.png);
	cursor: pointer
}

.drainagePopup>.wb_code .logo {
	width: 148px;
	height: 72px;
	background-image: url(../images/popup_logo.png);
	margin: 35px auto 17px auto
}

.drainagePopup>.wb_code .title .p1 {
	font-size: 28px;
	color: #505050;
	letter-spacing: 3px;
	line-height: 28px;
	text-align: center;
	font-weight: 700
}

.drainagePopup>.wb_code .title .p2 {
	font-size: 16px;
	color: #6f6f6f;
	letter-spacing: 2px;
	margin-top: 6px;
	text-align: center
}

.drainagePopup>.wb_code .img {
	width: 268px;
	height: 268px;
	background-image: url(../images/popup_biao.png);
	margin: 0 auto;
	position: relative
}

.drainagePopup>.wb_code .img .simple {
	position: absolute;
	bottom: 37px;
	right: -33px;
	opacity: .85;
	background: #d1cfcf;
	border-radius: 24px;
	font-size: 12px;
	color: #343333;
	width: 166px;
	line-height: 22px;
	text-align: center
}

.drainagePopup>.wb_code .city {
	margin-top: 22px;
	text-align: center
}

.drainagePopup>.wb_code .city span {
	font-size: 12px;
	color: #7f7f7f;
	line-height: 12px;
	margin: 0 5px
}

.drainagePopup>.wb_code .city .colour {
	color: #cc5252;
	margin: 0
}

.drainagePopup>.wb_code .input {
	width: 328px;
	margin: 10px auto 12px auto
}

.drainagePopup>.wb_code .input input {
	width: 100%;
	height: 36px;
	border: 0;
	font-size: 14px;
	color: #b5b5b5;
	line-height: 36px
}

.drainagePopup>.wb_code .button {
	background-color: rgba(102, 102, 102, .5);
	width: 358px;
	line-height: 36px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin: 0 auto
}

.drainagePopup>.wb_code .buttonColour {
	background: #cc5252;
	cursor: pointer
}

.drainagePopup>.wb_code .text {
	font-size: 12px;
	color: #5c5c5c;
	line-height: 12px;
	text-align: center;
	margin-top: 24px;
	display: block
}

.drainagePopup>.pop_show {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}